<!doctype html>
<html>
<head>
<title>YansheeCloudPanel</title>
</head>
<body>
  <div class="page">
   <header>
     <h1><a href="/">Yanshee Cloud Panel</a></h1>
	 <div>
	 </div>
   </header>
   <div class="content">
     {% block body %}{% endblock %}
   </div>
  <div>
  <footer>
    <p>Yanshee SDK : <a href="https://github.com/UBTEDU/Yanshee-Raspi-SDK">Yanshee-Raspi-SDK </a></p>
    <p>Yanshee 开源课程 : <a href="https://github.com/UBTEDU/YanShee-Curriculum/wiki">Yanshee Curriculum </a></p> 
  </footer>
</body>
</html>

